.wrap{
    display: flex;
    
}
.wrap .section{
    flex-grow: 3;
}
.section{
    display: flex;
    flex-wrap: wrap;
}
.section div{
    width: 32.6%;
    box-sizing: border-box;
    margin: 2px;
    background-color: lightgray
}
.wrap .aside{
    flex-grow: 1;
}
.aside{
    background-color: cornflowerblue;
}
.header{
    background-color: aquamarine;
    text-align: center;
    padding: 10px;
    margin: 2px;
}
.nav{
    text-align: center;
    padding: 5px;
    background-color: burlywood;
    margin: 2px;
}
.footer{
    padding: 10px;
    text-align: center;
    background-color: chartreuse;
    margin: 2px;
}